<%- include('header.ejs'); -%>



<% for(let i = 0; i < advancedDish.length; ++i){ %>
    <% if(advancedDish[i].name === name){ %>
            <h2><%= advancedDish[i].name %> </h2>
             <% for(let k = 0; k < advancedDish[i].ingredients.name.length; ++k){ %>
                <p> <%= advancedDish[i].ingredients.name[k] %> <%= advancedDish[i].ingredients.amount[k] %> </p>
            <% } %>     
            <p><%= advancedDish[i].recipe %> </p>   
            <p><%= advancedDish[i].time %> </p>  
            <p>Белки - <%= advancedDish[i].nutritionalValue.proteins %>. Жиры - <%= advancedDish[i].nutritionalValue.fats %>. Углеводы - <%= advancedDish[i].nutritionalValue.carbohydrates %>. Калории - <%= advancedDish[i].nutritionalValue.calories %></p> 
            
    <% } %> 
<% } %> 

 
<%- include('footer.ejs'); -%>