<%- include('header.ejs'); -%>
<link rel="stylesheet" href="/css/foodStyle.css" />
<link rel="stylesheet" href="/css/dish.css" />
<div class="wrapperAll">
  <div class="wrapperNutritional">
    <% for(let i = 0; i < dish.length; ++i){ %> <% if(dish[i].name === name){ %>
      <h2><%= dish[i].name %></h2>
      <p>Время приготовления <%= dish[i].time %> минут(ы)</p>
      <p> Белки - <%= dish[i].nutritionalValue.proteins %>. Жиры - <%=
        dish[i].nutritionalValue.fats %>. Углеводы - <%=
        dish[i].nutritionalValue.carbohydrates %>. Калории - <%=
        dish[i].nutritionalValue.calories %>.
  </p>
    <% }} %>
  </div>  
<div class="wrapper">
  <h3>Ингредиенты: </h3>
  <% for(let i = 0; i < dish.length; ++i){ %> <% if(dish[i].name === name){ %>
  <% for(let k = 0; k < dish[i].ingredients.name.length; ++k){ %>
  <p><%= dish[i].ingredients.name[k] %> <%= dish[i].ingredients.amount[k] %>г.</p>

  <% } %>
  <h3>Рецепт: </h3>
  <p><%= dish[i].recipe %></p>
  <% } %> <% } %>
</div>
</div>
  
<% if(currentUser) { %>
<div class="form__favorite">
  <form action="/main/dish/favorite" method="post">
     <button id="favButton" type="submit" name="name" value="<%=name%>">
      <% let fav = false %>
      <% let favoriteDish = currentUser.favoriteDish %>  
      <% for (let i = 0; i<favoriteDish.length; ++i) { %>
        <% if(favoriteDish[i].name === name){ %>
            <% fav = true %>
            <% break %>  
        <% }else{ %>
            <% fav = false %> 
       <% } %> 
        <% } %>
        <% if(fav){ %>
              Убрать из избранного
        <% }else{ %>
              Добавить в избранное
       <% } %> 
      </button>
  </form>
</div>
<% } %> 

<%- include('footer.ejs'); -%>
